<div class="pane-title">
  <h1>Edit Account</h1>
</div>

<form>
  <div class="pane-details">
    <label>
      {{input value=user.name}}
      <span>Name</span>
    </label>
    <label>
      {{input value=user.email}}
      <span>Email</span>
    </label>

  </div>
  <button class="pane-button" type="submit" {{action 'saveUser' user}}>
    Save
  </button>
</form>
